body{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 100px;
}

.board{
    display: flex;
    flex-direction: column;

    min-width: 700px;
    height: 700px;
    
}

.row{
    display:flex;
    flex:1;
}

.cell{
    border: 1px solid green;
    flex:1;
}

.change-color{
    background-color: black;
}