body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    text-align: center;
    background-color: #B7C4CF;
    font-family: 'Caveat', cursive;
    color:#3D8361;
}

h1{
    font-size: 3rem;
}

.main{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 16px 100px;
}

/* **************** selectors **************************** */
.selectors{
    display:flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    gap: 0.7rem;
    font-size: 1.5rem;
}

.selectors button{
    padding: 0.5rem;
    font-size: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    color:#3D8361;
    border: 1px solid grey;
    border-radius: 0.5rem;
    /* background-color: #D0D0D7; */
}

.selectors button:hover, .eraser-on, .rainbow-on{
    transform: scale(1.05);
    background-color: #d0d0d7ca;
}

.size-selector{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.color-input{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.color-input input{
    flex:1;
}

/* ****************** board *************************** */
.board{
    display:grid;
    min-width: 600px;
    height: 600px;
    border: 1rem solid #967E76;
    border-radius: 0.5rem;
    background-color: white;
}

.row{
    display:flex;
    flex:1;
}

.cell{
    border: 0.1px solid rgb(225, 225, 225);
    flex:1 1 1rem;
}



.change-color{
    background-color: black;
}



h2{
    font-size:  2rem;
}