body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

h1{
    text-align: center;
}

.main{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 16px 100px;
}

/* **************** selectors **************************** */
.selectors{
    display:flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    gap: 0.7rem;
    font-size: 1rem;
}

.selectors button{
    padding: 0.5rem;
    font-size: 1rem;
}

.size-selector{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.color-input{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.color-input input{
    flex:1;
}
/* ****************** board *************************** */
.board{
    display:grid;
    min-width: 600px;
    height: 600px;
}

.row{
    display:flex;
    flex:1;
}

.cell{
    border: 0.5px solid rgb(139, 141, 139);
    flex:1 1 1rem;
}



.change-color{
    background-color: black;
}

.eraser-on{
    background-color: grey;
}

.rainbow-on{
    background-color: grey;
}